*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
 /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: yellow;
    font-style: italic;
}
.navbar>ul{
    display: flex;
    gap: 40px;
}

.navbar>ul>li{
    list-style: none;
    
}
.navbar>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.navbar>h2{
    color:chartreuse;
}
.form{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: max-content;
    padding: 2rem;
    margin: auto;
    margin-top: 3.2rem;
}
.form>#submit{
border: none;
padding: .7rem 1.2rem;
color: white;
background-color: black;
border-radius: 1rem;
margin-left: 3rem;
margin-top: .3rem;
}